.btn_logout {
  border: none;
  background: none;
  color: #707070;
}
.btn_logout:hover {
  color: rgb(75, 75, 75);
  font-size: 1em;
  cursor: pointer;
}
.btn_logout:focus {
  outline: none;
}

.btn-login {
  background: rgb(38, 156, 252);
  color: white;
  border-radius: 10px;
  border: none;
  width: 100%;
  padding: 18px 0;
}
.btn-login:hover {
  background: rgb(23, 138, 233);
  cursor: pointer;
}
.btn-login:focus {
  outline: none;
}

.btn-back {
  background: rgb(38, 156, 252);
  color: white;
  border-radius: 10px;
  border: none;
  display: flex;
  font-family: "Prompt", sans-serif;
  float: right;
}
.btn-back:hover {
  background: rgb(23, 138, 233);
  cursor: pointer;
}
.btn-back:focus {
  outline: none;
}

.fa-arrow-left {
  padding: 10px;
  font-size: 1.2em !important;
}
.namebtn-back {
  padding: 10px 10px;
}

.btn-create-keyword {
  background: rgb(0, 153, 255);
  border: 0;
  width: 200px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 15px;
  outline: none;
}
.btn-create-keyword:hover {
  background: rgb(0, 139, 231);
  cursor: pointer;
  color: white;
}
.btn-forget {
  background: none;
  border: none;
  /* font-weight: bold; */
  outline: none;
  margin-bottom: 20px;
  font-family: "Prompt", sans-serif;
}
.btn-forget:hover {
  cursor: pointer;
}
