@media screen and (max-width: 480px) {
  .btn-top {
    padding: 5px;
    font-size: 0.8em;
  }
  .active-border-bottom {
    height: 30px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
  }
  .dropbtn,
  .dropdown-content {
    margin-left: 0 !important;
    min-width: 80px;
  }
  body {
    background: white !important;
  }
  .sidenav,
  .divnav {
    display: none !important;
  }
  .container-main {
    padding: 0 !important;
  }
  .main {
    background: white;
  }
  .page-main {
    height: auto !important;
    padding: 0;
    box-shadow: none;
  }
  .body-login {
    padding: 30px !important;
    padding-top: 0 !important;
    margin-top: 0;
  }
  .pagename-history {
    padding: 20px;
  }
  .top-page {
    height: auto;
  }

  .hamburker {
    display: block !important;
    border: none;
    background: none;
    padding: 10px 10px;
    font-size: 1.8em;
  }
  .close-sidenav {
    display: block;
    float: right;
    background: none;
    /* color: white; */
    border: none;
    position: fixed;
    padding: 5px 230px;
  }
  .box-close {
    background: gold;
  }
  /* ------ TopNav  --------- */
  .topbar {
    /* background: yellow; */
    flex: 1 !important;
    /* text-align: right; */
  }
  /* ------ Tranning  --------- */

  .data-table {
    display: none !important;
  }
  .data-table,
  .card-data-table::-webkit-scrollbar-thumb {
    display: none;
  }
  .data-table,
  .card-data-table::-webkit-scrollbar {
    display: none;
  }
  .card-data-table-open::-webkit-scrollbar-thumb {
    display: none;
  }
  .card-data-table-open::-webkit-scrollbar {
    display: none;
  }
  .card-data-table {
    /* background: indianred; */
    height: 580px;
    overflow-y: scroll;
    display: block !important;
  }
  .namepage {
    flex: 0 !important;
    display: none;
  }
  .btn-open-tranning {
    display: flex;
    justify-content: left !important;
    margin: 10px;
  }
  /* ------ ChatBot  --------- */
  .none-medai {
    display: none !important;
  }
  .padding-page {
    padding: 0 !important;
  }
  .flex {
    /* justify-content: flex-start !important;
    align-items: flex-end !important; */
  }
  .main-chatbot {
    width: 100% !important;
  }
  .body-chatbot {
    border: none !important;
    height: auto;
    min-height: 600px;
    margin-bottom: 80px !important;
  }
  .box-txt {
    position: fixed !important;
    width: 100% !important;
    left: 0;
    bottom: 0;
    border-top: 1px solid #909090;
    border-radius: 0 !important;
  }
  .massage {
    max-width: 220px;
  }
  .massage-bot {
    max-width: 220px;
  }
  /* ------ Dashboard  --------- */
  .flex-dashboard {
    display: flex;
    flex-direction: column;
  }
  .box-dashboard-1,
  .box-dashboard-2,
  .box-dashboard-3,
  .box-dashboard-4,
  .box-dashboard-5 {
    width: auto !important;
  }
  .line-dashboard {
    width: 90%;
    margin: 0 auto;
  }
  .phone-p {
    padding: 20px;
  }

  .box-config {
    display: flex;
    width: 350px !important;
    flex: 1;
    /* background: goldenrod; */
  }
  .input-config {
    /* width: 450px !important; */
  }
  .box-massages {
    margin-left: 5px !important;
  }
  table {
    font-size: 0.6em;
  }
  .btn-delete {
    min-width: 0;
    padding: 10px;
    font-size: 0.9em;
  }
  .btn-create-keyword {
    margin-right: 10px;
  }
  .margin-left {
    margin-left: 10px;
  }
  .chart-1 {
    height: 220px;
    margin: 10px;
  }
  .box-monitor-2 {
    display: none;
  }
  .flex {
    flex-direction: column;
  }
  .flex-check {
    justify-content: center !important;
    align-items: center;
  }
  .checkbox {
    width: 20%;
    font-size: 0.5em;
    padding: 10px 10px;
  }
  .flex-center {
    justify-content: center;
    margin: 10px 0;
  }
  .btn-message-1,
  .btn-message,
  .btn-message-2 {
    width: 30%;
  }
  .MuiGrid-container {
    display: block;
  }
  .box-keyword {
    display: block;
  }
  .flex-title {
    margin-top: 20px;
    margin-bottom: 15px;
    justify-content: center;
  }
  .flex-title-1 {
    width: 250px;
    /* background: chocolate; */
    margin: auto;
  }
  .box-summery {
    display: flex;
    flex-direction: column;
  }
  .box-detail {
    margin: 10px 0;
  }
  .flex-display {
    flex-direction: column;
  }
  .box-keyword-1 {
    padding: 0;
    font-size: 0.8em;
  }
  .container-step-1 {
    width: 100%;
  }
  .input-user {
    width: 300px;
  }
  .box-input-user {
    margin-top: 0;
  }
  .radio-flex {
    width: auto;
  }
  .box-register {
    width: auto;
    left: 0;
    position: relative;
  }
  .white {
    margin-top: 150px;
  }
  .box-checkbox,
  .box-keyword,
  .box-detail {
    margin: 15px 10px;
  }
  .box-message-data {
    margin: 15px 0;
  }
  .box-message-data-1 {
    margin: 10px;
  }
  .box-message-data-1-active {
    margin: 10px;
  }
  .flex-user {
    margin: 10px;
  }
  .input-login {
    width: 100%;
  }
}
