table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid #ddd;
}
th,
td {
  font-size: 0.85em;
  text-align: left;
}

.td-fix {
  width: 300px;
}

.th-padding {
  padding: 8px 50px;
}
