@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

body {
  margin: 0 !important;
  background: #f1f1f1;
  font-family: "Prompt", sans-serif;
  font-size: 100%;
}
.main {
  display: flex;
}
.divnav {
  width: 294px !important;
  background: none;
}
.body {
  width: 100%;
}
p {
  margin: 0;
}
.txt-err {
  color: rgb(250, 200, 37);
  text-align: center;
}
@media screen and (max-width: 1680px) {
  .divnav {
    width: 304px !important;
    background: none;
  }
}

@media screen and (max-width: 480px) {
}
